
body{
    margin: 0;
    height: 100vh;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr;
    grid-template-rows:1fr 4fr;
    
}

.header-wrapper{
    background-color:white;
    grid-column: 2/6;
    grid-row: 1;
 
}
    .searchbar-wrapper{
        display: flex;
        justify-content: space-between;
    }           
        .search{
            display: flex;
            align-items: center;
            justify-content: end;
        }
    .profile-pickups-wrapper{
        width: 100%;
        margin: 0 20px;
        display: flex;

    }
    .pickups{
        width: 70%;
        display: flex;
        justify-content: center;
    }
    .pickups ul{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .profile{
        width: 100%;
        font-size: 20px;
    }
        .profile , ul{
            width: 30%;
            display: flex;
            align-items: center;
            /* justify-content: center; */
            list-style: none;

        }
        span{
            margin-left: 20px;
        }
        .profile p{
            margin-bottom: 20px;
        }
        a{
            margin: 0 5px;
            padding: 0 10px;
            border-radius: 10px;
            text-align: center;
            background-color: rgb(0, 140, 255) ;
            text-decoration: none;
            color: aliceblue;
        }

.sidebar-wrapper{
    width: 200px;
    padding: 20px 0;
    background-color: rgb(0, 157, 255);
    grid-column:1;
    grid-row: 1/3;
    color: aliceblue;
    
    
}

.article-wrapper{
    /* height: 100vh; */
    background-color: rgb(218, 220, 222);
    grid-column: 2/4;
    grid-row: 2/4;
}
     .projects-box{
        
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

    }
    .project{

        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        border-left: 6px solid rgb(230, 172, 90);
        border-radius: 10px;
        padding: 15px;

    }
    .project ,h1 ,p {
        margin: 0;
     
    }
.anouncement-wrapper{
    
    background-color:  rgb(218, 220, 222);
    grid-column: 4/6;
    grid-row:2;
    font-size: 10px;

    
}
.anouncement{
    
    background-color:aliceblue;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}
.trending{
    background-color:aliceblue;
    margin: 5px;
    border-radius:10px;
    padding: 10px;
}
.trend img{
    width: 100%;
    
}
.trend p{
    margin: 5px;
}
.trend{
    border:1px solid red;
    border-radius: 100%;
    margin: 5px;
    display: flex;
    align-items: center;
}
 .profile img{
    width: 10%;
}
 .search img{
    width: 4%;
} 
 .search {
    display: flex;
    justify-content: center;   
} 
form{
    width:90%;
}
input{
    width: 100%;
    background-color: rgb(231, 234, 236);
    border-radius: 10px;
    border: none;
}
.alerm img{
    width:6%;
}
.alerm {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}


img{
/* 
    margin: 5px; */
    padding: 0;
}
.nav-wrapper{
    margin: 20px 0;
    
}
.nav,  .dashboard, .action, .project img{
    width: 20%;
    margin: 5px;
    
}
p h1{
    padding: 0;
    margin: 0;
}
.nav, .action, .dashboard {

    display: flex;
    align-items: center;

}
.dashboard :last-child{
    margin-left: 10px;
}
 .nav :last-child{
    margin-left: 10px;
}
.action :last-child{
    margin-left: 10px;
}

.trending{
     display: flex;
    flex-direction:column;
}

.trend{
    width: 50px;
    display: flex;
    flex-direction: row;
    
}
.trend img{
    border-radius: 100%;
}
.feedback{
    width:120px;
    
}

.feedback h1{
    padding: 0;
 
}

.alerm  img{
    border-radius: 100%;
    }
.profile  img{
    border-radius: 100%;
}